* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Manrope, sans-serif;
    background: #000000;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    margin: 0 32px;
}

.menu h1 {
    font-size: 37px;
    text-align: center;
    font-family: Big Shoulders Stencil, serif;
}

.left-side img {
    width: 100%;
    max-width: 75px;
}

.menu .left-side {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu .custom-list {
    display: flex;
    gap: 74px;
    list-style-type: none;
}

.menu .custom-list a {
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    color: white;
    -webkit-tap-highlight-color: transparent;
}

.left-side {
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
}

.burger-menu {
    display: none;
}

.right-side .cgg {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.cgg {
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 15px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 67vh;
    animation: fadeIn 2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 68px;
}

.main {
    position: relative;
    z-index: 1;
}

section {
    position: relative;
    z-index: 2;
}

.section1 {
    overflow: hidden;
}

.info-foto {
    position: absolute;
    z-index: -1;
    opacity: 30%;
    width: 80%;
}

.info h2 {
    font-family: Playfair Display, serif;
    font-weight: 500;
}

.info p {
    font-size: 25px;
    margin: 10px 0 130px;
    color: #8d7750;
    text-align: center;
}



.application {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 0;
}

.text-application {
    padding: 0 32px;
}


.text-application h4 {
    padding: 0 0 40px;
    font-weight: 300;
    font-size: 50px;
    font-family: Playfair Display, serif;
    text-align: center;
}

.text-application::before,
.text-application::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 2px;
    width: 20%;
    background: #978157;
}

.text-application::before {
    right: 100%;
}

.text-application::after {
    left: 100%;
}

.submit-button {
    width: 100%;
    border: none;
    padding: 20px;
    background: #978157;
    display: flex;
    font-weight: 500;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: background 0.3s ease;
}

.school {
    text-align: center;
}

.wrapper-carousel h3 {
    font-size: 53px;
    font-weight: 500;
    text-align: center;
    line-height: 26px;
    padding: 0 0 32px 0;
    font-family: Playfair Display, serif;
}

.wrapper-carousel {
    text-align: center;
}

.carousel input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #8d7750;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    margin: 0 5px;
    outline: none;
    touch-action: manipulation;
}

.carousel input[type="radio"]:checked {
    background-color: #978157;
    border-color: #978157;
}

.carousel input[type="radio"]:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
}

.carousel {
    margin: 90px 0 auto;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}


.cards {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 600px;
    -webkit-perspective: 600px;
    transition: transform 0.7s ease;
    -webkit-transition: transform 0.7s ease;
    will-change: transform;
    touch-action: manipulation;
}

.card {
    position: absolute;
    width: 487px;
    height: 443px;
    background-color: #978157;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transform: rotateY(calc(-15deg * var(--r))) translateX(calc(-400px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}


.card:hover {
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r))) scale(1);
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
}

.card img {
    z-index: -1;
}

.text-cards {
    padding: 10px;
    pointer-events: none;
    transform-style: flat;
    position: relative;
    z-index: 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.text-cards h4 {
    padding: 20px 40px 60px 40px;
    font-size: 40px;
    color: black;
}

.text-cards p {
    margin: 0;
    font-size: 21px;
    color: black;
    font-weight: 500;
}


.card:nth-of-type(1) {--offset: 1; padding: 40px 0 0 0;}
.card:nth-of-type(2) { --offset: 2; padding: 40px 0 0 0;}
.card:nth-of-type(3) { --offset: 3; padding: 40px 0 0 0;}
.card:nth-of-type(4) { --offset: 4; padding: 40px 0 0 0;}
.card:nth-of-type(5) { --offset: 5; padding: 40px 0 0 0;}
.card:nth-of-type(6) { --offset: 6; padding: 40px 0 0 0;}


#slide1:checked ~ .cards { --position: 1; padding: 40px 0 0 0;}
#slide2:checked ~ .cards { --position: 2; padding: 40px 0 0 0;}
#slide3:checked ~ .cards { --position: 3; padding: 40px 0 0 0;}
#slide4:checked ~ .cards { --position: 4; padding: 40px 0 0 0;}
#slide5:checked ~ .cards { --position: 5; padding: 40px 0 0 0;}
#slide6:checked ~ .cards { --position: 6; padding: 40px 0 0 0;}


.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 200px 0 200px 0;
}

.text p {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.schedule-gg {
    position: relative;
}

.schedule h4{
    font-size: 60px;
    font-weight: 500;
    padding: 30px 0 30px 0;
    font-family: Playfair Display, serif;
}

.schedule-content {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 600px;
}

.wrapper-schedule {
    flex: 1;
}

.foto-fff {
    width: 100%;
    max-width: 300px;
    padding: 0 0 80px 0;
    position: absolute;
    z-index: -1;
    right: 60px;
    top: 75px;
}

.h-7 {
    display: flex;
    padding: 40px 0 35px 0;
    font-size: 25px;
    color: #978157;
}

.h-8 {
    font-size: 20px;
    height: 40px;
}
.h8 {
    display: flex;
    padding: 0 50px 0 0;
}

.h5 {
    padding: 0 0 31px 50px;
    border-bottom: 3px solid #978157;
    border-left: 3px solid #978157;
}
.h-5 {
    padding: 0 0 0 50px;
    border-left: 3px solid #978157;

}

.h-9 {
    padding: 0 0 40px 0;
    border-bottom: 3px solid #978157;
}

.hh-9 {
    padding: 0 0 36px 50px;
}

.from-fields {
}

input[type="submit"]:hover {
}

.advantages {
    margin-top: 80px;
    position: relative;
}

.advantages h3{
    font-size: 53px;
    font-weight: 500;
    line-height: 26px;
    padding: 0 0 45px 0;
    font-family: Playfair Display, serif;
}

.advantages h4 {
    font-size: 53px;
    font-weight: 500;
    font-family: Playfair Display, serif;
}

.wrapper-advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 24px;
    margin-top: 25px;
}

.dk {
    display: flex;
}

.card-advantages {
    border: 1px solid #978157;
    max-width: 290px;
    width: 100%;
    padding: 25px;
    text-align: center;
}

.foto-ddd{
    width: 100%;
    max-width: 412px;
    right: 0;
}

.pic-area {
    display: flex;
    justify-content: center;
}

.pic-text {
    padding: 10px 0 0 0;
}

.pic-text h2 {
    font-size: 20px;
    line-height: 25px;
}

.h_2 {
    padding: 15px 0 0;
}

.pic-text p {
    padding: 10px 0 0 0;
}

.pic-text .p2 {
    padding: 21px 0 0 ;
}

.pic-area img {
    width: 100%;
    max-width: 70px;
}

.prices {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.drop-down-lists {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    padding: 80px 0 80px 0
}

.price h3 {
    font-size: 53px;
    font-weight: 500;
    text-align: center;
    line-height: 26px;
    padding: 0 0 60px 0;
    font-family: Playfair Display, serif;
}

.wrapper-price {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.wrapper-price h4 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    white-space: nowrap;
}

.wrapper-price p, span {
    padding: 10px;
    border-bottom: 1px solid rgb(153, 153, 153);
}

.drop-down-lists details {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    border: 3px solid #978157;
    color: #ADADAD;
}

.drop-down-lists summary {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-right: 24px;
}

.drop-down-lists details summary {
    -webkit-tap-highlight-color: transparent;
}

.drop-down-lists details summary::after {
    content: "+";
    position: absolute;
    right: 0;
    background-size: contain;
    transition: 2s;
}

.drop-down-lists details[open] summary::after {
    list-style: none;
    content: "-";
    padding: 0 0 32px 0;
    transition: 2s;
}

.wrapper-dances {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.ddances, .ddaances, .dddances, .ddddances  {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(153, 153, 153);
    border-right: none;
}

.ddances a:hover, .ddaances a:hover, .dddances a:hover, .ddddances a:hover {
    color: #978157;
}

.number-of-dances span {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.price-dances span {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pprice-dances {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(153, 153, 153);
    border-left: none;
}

.ddances1, .dddances2, .ddddances3, .ddddances4 {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(153, 153, 153);
    border-left: none;
}

.wrapper-price-cars h4 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}

.wrapper-price-cars p, span {
    padding: 10px;
    border-bottom: 1px solid rgb(153, 153, 153);
    border-bottom: none
}

.wrapper-cars {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    border-right: none;
}

.wrapper-price-cars {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    gap: 80px;
}

.ddances a, .ddaances a, .dddances a, .ddddances a {
    padding: 10px;
    text-decoration: none;
    color: #ADADAD
}

.wrapper-price-dances {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.ddances-1, .dddances-2, .dddances-3, .ddddances-4 {
    border: 1px solid rgb(153, 153, 153);
    border-left: none;
    border-right: none;
}

.price-ddances {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cars-info p {
    border-bottom: none;
}

.cars-info {
    display: flex;
    padding: 25px 0 0 0;
}

.wrapper-animators {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.wrapper-price-animators h4 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}

.wrapper-price-animators {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
}

.wrapper-price-animators3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.one-1 span {
    padding: 5px;
}

.one-2 span {
    padding: 5px;
}

.one-3 span {
    padding: 5px;
}

.wrapper-animators .one {
    padding: 15px 0 15px 0;
    border: 1px solid rgb(153, 153, 153);
    border-right: none;

}

.wrapper-animators .two {
    padding: 43px 0 43px 0;
    border: 1px solid rgb(153, 153, 153);
    border-right: none;
}

.wrapper-animators .three {
    padding: 119px 0 119px 0;
    border: 1px solid rgb(153, 153, 153);
    border-right: none;
}

.wrapper-prices-animators {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}

.wrapper-prices-animators span {
    padding: 5px;
}

.wrapper-prices-animators .one-1 {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(153, 153, 153);
    border-right: none;
    border-left: none
}

.wrapper-prices-animators .two-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(153, 153, 153);
    border-left: none;
    border-right: none
}

.wrapper-prices-animators .three-3 {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(153, 153, 153);
    border-left: none;
    border-right: none;
}

.price-animators .one {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    border-left: none;
}

.price-animators .two {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    border-left: none;
}

.price-animators .three {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    border-left: none;
}

.price-animators .one span {
    padding: 5px;
}

.price-animators .two span {
    padding: 5px;
}

.price-animators .three span {
    padding: 5px;
}

.containerr {
    border-top: 70px solid rgb(151, 129, 87, 70%);
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.footer-info {
    padding: 50px 0 50px;
    display: flex;
    justify-content: center;
}

.networkss {
    text-decoration: none;
}

.drop-down-lists details > summary {
    list-style: none;
}

.drop-down-lists details > summary::-webkit-details-marker {
    display: none;
}

.drop-down-lists details > summary::marker {
    display: none;
}

.drop-down-lists details > summary {
    padding-right: 0;
}

.drop-down-lists details > summary::after {
    right: 10px;
}



@media screen and (max-width: 1024px) {
    .foto-ddd {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .main {
        margin: 0 20px 0 ;
    }

    .left-side .custom-list {
        display: none;
    }

    .right-side .cgg {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    /* Базовые стили для бургер-меню */
    .burger-menu {
        display: none;
        position: relative;
    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .burger {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 101;
        width: 30px;
        height: 16px;
        cursor: pointer;
    }

    .burger::before,
    .burger::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #4a3d28;
        transition: all 0.3s ease;
    }

    .burger::before {
        top: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .burger-checkbox:checked + .burger::before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .burger-checkbox:checked + .burger::after {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    .menu-list {
        position: fixed;
        top: -100%; /* Начальное положение - выше экрана */
        left: 0;
        width: 100%;
        background-color: #978157;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        transition: top 0.3s ease; /* Анимация по top */
        padding: 60px 20px 20px;
        overflow-y: auto;
        border-radius: 0 0 30px 30px;
    }

    .burger-checkbox:checked ~ .menu-list {
        top: -50px; /* При открытии - опускаем вниз до верха экрана */
    }

    .burger-wrapper {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .burger-wrapper li {
        margin-bottom: 15px;
    }

    .burger-wrapper a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        display: block;
        padding: 10px;
        transition: color 0.3s;
    }

    .burger-wrapper a:hover {
        color: #007bff;
    }

    .custom-list {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    /* Затемнение фона при открытом меню */
    .burger-checkbox:checked ~ .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 99;
    }

    .info-foto {
        text-align: center;
    }

    .foto-fff {
        display: none;
    }

    .wrapper-application {
        padding: 10px 0 0 0;
    }

    .foto-application {
        display: none;
    }

    .foto-ddd {
        display: none;
    }

    .wrapper-price {
        padding: 20px 0 0;
        gap: 50px;
    }
    .wrapper-price h4 {
        font-size: 19px;
        white-space: nowrap;
    }

    .price-list-of-dances a {
        font-size: 15px;
    }

    .ddances a, .ddaances a, .dddances a, .ddddances a {
        padding: 5px;
        text-decoration: none;
        color: #ADADAD;
    }

    .wrapper-price-cars p, span {
        font-size: 15px;
        padding: 5px;
    }

    .price-dances span {
        font-size: 15px;
        padding: 5px;
    }

    .wrapper-cars p {
        font-size: 20px;
    }

    .wrapper-prices-animators .three-3 span {
        font-size: 14px;
        padding: 0;
    }

    .wrapper-price-animators h4 {
        font-size: 20px;
    }

    .wrapper-animators .three {
        padding: 84px 0 ;
    }

    .price-animators .three span {
        padding: 0;
        font-size: 16px;
    }
}

@media screen and (max-width: 752px) {
    .info h2 {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    .h-9 {
        border-bottom: 2px solid #978157;
    }

    .h5 {
        border-bottom: 2px solid #978157;

    }

    .h-5 {
        border-left: 2px solid #978157;
        padding: 0 0 0 25px;
    }

    .h9 {
        border-left: 2px solid #978157;
    }

    .info {
        font-size: 30px;
    }

    .menu-list {
        position: fixed;
        top: -300%;
    }

    .info p {
        font-size: 15px;
    }

    .info-foto {
        width: 100%;
    }

    .wrapper-carousel h3 {
        font-size: 32px;
        padding: 43px 0 0;
        line-height: 0;
    }
    .section1 {
        padding: 60px 0;
    }

    .card {
        width: 256px;
        height: 311px;
        transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-250px * var(--r)));
    }

    .card:hover {
        transform: rotateY(calc(-8deg * var(--r))) translateX(calc(-200px * var(--r))) scale(1.05);
    }

    .text-cards h4 {
        padding: 15px 19px 40px;
        font-size: 30px;
    }

    .text-cards p {
        font-size: 16px;
    }

    .card:nth-of-type(1) {--offset: 1;padding: 0;}
    .card:nth-of-type(2) {--offset: 2;padding: 0;}
    .card:nth-of-type(3) {--offset: 3;padding: 0;}
    .card:nth-of-type(4) {--offset: 4;padding: 0;}
    .card:nth-of-type(5) {--offset: 5;padding: 0;}
    .card:nth-of-type(6) {--offset: 6;padding: 0;}

    #slide1:checked ~ .cards {--position: 1;padding: 0;}
    #slide2:checked ~ .cards {--position: 2;padding: 0;}
    #slide3:checked ~ .cards {--position: 3;padding: 0;}
    #slide4:checked ~ .cards {--position: 4;padding: 0;}
    #slide5:checked ~ .cards {--position: 5;padding: 0;}
    #slide6:checked ~ .cards {--position: 6;padding: 0;}

    .card p {
        font-size: 12px;
    }

    .text {
        padding: 80px 0 ;
    }

    .text p {
        font-size: 18px;
        font-weight: 0;
        text-align: center;
    }

    .schedule h4 {
        font-size: 32px;
        padding: 30px 0 0 0;
    }

    .h-7 {
        font-size: 22px;
    }

    .h-8 {
        font-size: 17px;
    }

    .hh5 {
        padding: 0 0 0 50px;
        font-size: 15px;
    }

    .h5 {
        padding: 0 0 0 25px
    }

    .hh-9 {
        padding: 0 0 0 25px;
    }

    .h-9 {
        padding: 12px 0 19px 0;
    }

    .wrapper-application {
        padding: 0;
    }

    .text-application h4 {
        font-size: 33px;
    }

    .application {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        padding: 0;
    }

    .input[type="text"], input[type="tel"] {
        font-size: 14px;
    }

    .submit-button {
        padding: 13px;
        font-size: 16px;
    }

    .advantages {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advantages h3 {
        font-size: 33px;
        text-align: center;
        width: 100%;
    }

    .wrapper-advantages {
        padding: 0;
        justify-content: center;
    }

    .card-advantages {
        max-width: 270px;
        margin: 0 auto;
    }

    .wrapper-dances a {
        font-size: 15px;
    }

    .wrapper-price, .wrapper-price-cars, .wrapper-price-animators {
        padding: 0;
    }

    .drop-down-lists details {
        padding: 5px;
    }


    .wrapper-dances a {
        font-size: 10px;
        padding: 0;
    }

    .wrapper-price-animators {
        padding: 0;
        gap: 10px;
        line-height: 20px;
    }

    .wrapper-price-animators3 {
        gap: 20px;
    }

    .price-animators .two span {
        padding: 0;
    }

    .wrapper-price {
        padding: 0;
        gap: 10px;
    }

    .wrapper-animators .three {
        padding: 56px 0 ;
    }

    .drop-down-lists details {
        border-radius: 16px;
        border: 2px solid #978157;
        font-size: 18px;
    }

    .wrapper-price h4 {
        font-size: 10px;
        padding: 5px;
        white-space: nowrap;
    }

    .ddances a,
    .ddaances a,
    .dddances a,
    .ddddances a {
        font-size: 10px;
        padding: 3px 0;
        line-height: 118%;
    }

    .wrapper-price-dances span,
    .price-ddances span {
        font-size: 9px;
        padding: 3px 0;
        line-height: 10px;
    }

    .wrapper-dances,
    .wrapper-price-dances,
    .price-ddances {
        gap: 15px;
    }

    /* Автомобили */
    .wrapper-price-cars {
        gap: 10px;
    }

    .wrapper-price-cars h4 {
        font-size: 14px;
        padding: 5px;
    }

    .wrapper-cars p,
    .pprice-dances span {
        font-size: 10px;
        padding: 3px;
    }

    .wrapper-prices-animators {
        gap: 20px;
    }

    .wrapper-price-animators h4 {
        font-size: 12px;
        padding: 5px;
    }

    .wrapper-animators p,
    .wrapper-prices-animators span,
    .price-animators span {
        font-size: 10px;
        padding: 3px;
    }

    .wrapper-animators {
        gap: 20px;
    }

    .wrapper-animators .two {
        padding: 18px 0;
    }

    .price h3 {
        font-size: 41px;
        line-height: 6px;
        padding: 0 0 54px 0;
    }

    .o1 span {
        padding: 0;
    }

    .t2 span {
        padding: 0;
    }

    .wrapper-prices-animators .three-3 span {
        font-size: 10px;
    }

    .price-animators .three span {
        font-size: 9px;
    }

    .price-animators .one span {
        padding: 0;
    }

    .wrapper-animators .one {
        padding: 0;
        line-height: 14px;
    }

    .number-of-dances h4 {
        font-size: 8px;
    }

    .f2 span {
        padding: 3px 0;
    }

    .ff2 span {
        padding: 3px 0;
    }

    .ff3 span {
        padding: 11% 0;
    }

    .f3 span {
        padding: 5% 0;
    }
}

@media screen and (max-width: 420px) {
    .f2 span{
        padding: 4px;
    }

    .ff2 span{
        padding: 4px;
    }

    .three.h3 span {
        font-size: 12px;
    }

    .f3 span {
        padding: 5% 0;
    }

    .ff3 span {
        padding: 11% 0;
    }
}


@media screen and (max-width: 370px) {
    .wrapper-carousel h3 {
        font-size: 25px;
        line-height: 1;
    }

    .f1 span{
        padding: 6px 0;
    }

    .f2 span{
        padding: 7px 0;
    }

    .f4 span{
        padding: 5px 0;
    }

    .ff1 span{
        padding: 6px 0;
    }

    .ff2 span{
        padding: 7px 0;
    }

    .ff4 span {
        padding: 5px 0;
    }

    .card h4 {
        padding: 0 25px 40px 40px;
        font-size: 28px;
    }

    .card {
        width: 250px;
        height: 320px;
        transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-200px * var(--r)));
    }

    .card:hover {
        transform: rotateY(calc(-8deg * var(--r))) translateX(calc(-160px * var(--r))) scale(1.05);
    }

    .text-cards h4 {
        padding: 10px 20px 30px;
        font-size: 26px;
    }

    .text-cards p {
        font-size: 14px;
    }

    .wrapper-carousel h3 {
        font-size: 28px;
        padding: 0 0 20px;
    }

}